<h4 class="text-center">Login</h4>
<form (ngSubmit)="login()" #loginForm="ngForm">
  <div class="mb-3">
    <label for="nome" class="col-form-label">Nome de usúario</label>
    <input
      class="form-control"
      id="nome"
      type="text"
      [(ngModel)]="usuario"
      name="usuario"
      #campoUsuario="ngModel"
      required
    />
    <app-mensagem
      mensagem="Usuario obrigatório"
      *ngIf="campoUsuario.invalid && campoUsuario.touched"
    ></app-mensagem>
  </div>
  <div class="mb-3">
    <label for="senha" class="col-form-label">Senha</label>
    <input
      type="password"
      class="form-control"
      id="senha"
      [(ngModel)]="senha"
      name="senha"
      #campoSenha="ngModel"
      required
    />
    <app-mensagem
      mensagem="Senha obrigatória"
      *ngIf="campoSenha.invalid && campoSenha.touched"
    ></app-mensagem>
  </div>
  <div class="d-grid">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loginForm.invalid"
    >
      Entrar
    </button>
  </div>
</form>
<p>Não é um usuário?, <a [routerLink]="['novousuario']">Se cadastre.</a></p>
